@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);





#blue {
    display: block;
    height: 5px;

}

#dg{

    height: 450px;
}


#cust_1{
      background: url(../img/elar.jpg) no-repeat center top;
      height: 200px;
      width: 200px;
      padding-left: 500px;
      margin-top: 50px;

}
