{# extends 'home/base_template.html' #}

{% block content %}

{% load staticfiles %}
<script src="{% static 'assets/js/jquery-2.2.4.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">


<h1>Cadastro de Região</h1>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form id="form-veiculo" role="form" action="" method="POST">{% csrf_token %}

    		{% load widget_tweaks %}
            {% for field in form %}
            <div class="form-group">
				<label> {{ field.label_tag }} </label>
                {{ field | add_class:"form-control" }}
        	</div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
