{% extends 'home/base_template_aut.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/user.css' %}" rel="stylesheet">


	<div id="blue">
	</div><!--  bluewrap -->

	 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="home1">
                        Menu Gerente
                    </a>
                </li>
                <li>
                    <a href="gerclientes">Clientes</a>
                </li>
                <li>
                    <a href="gerentregas">Entregas Pendentes</a>
                </li>
                <li>
                    <a href="gerfuncionarios">Funcionários</a>
                </li>
                <li>
                    <a href="gerregioes">Regioes</a>
                </li>
                <li>
                    <a href="gerveiculos">Veículos</a>
                </li>
                <li>
                {% if user.is_authenticated %}
                    <form  role="form" class="navbar-form navbar-right" method="POST" action="logout">{% csrf_token %}
                        <button type="submit">Log Out</button>
                    </form>
                 {% endif %}
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-reorder" style="font-size:12px" ></i></a>
                        <h1>Gerenciamento de Entregas</h1>
                        <p>Gerenciamento de entregas e alocação a entregadores</p>
                        <div class ="col-lg-6">
                        <h3> ENTREGAS PENDENTES</h3>
                        <table border="1" style="width:90%">
                            <tr>
                                <th>Destinatário</th>
                                <th>Endereço</th>
                                <th>Região</th>
                                <th>Status</th>
                                <th>Preço</th>
                                <th>Data do Pedido</th>
                                <th>Prioridade</th>
                            </tr>
                            {% for r in result %}
                            <tr>
                                <td>{{ r.destinatario.nome }}</td>
                                <td>{{ r.destinatario.logradouro }}, n. {{ r.destinatario.numero }}</td>
                                <td>{{ r.regiao }}</td>
                                <td>{{ r.status }}</td>
                                <td>{{ r.preco }}</td>
                                <td>{{ r.dataPedido }}</td>
                                <td>{{ r.prioridade }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        </div>
                        {% block alocacao %}
                        {% endblock %}
                        </div>
                    </div>

                </div>
            </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <div id="push">
    </div>

    <!-- /#wrapper -->
        <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>






{% endblock content %}
