{% extends 'home/base_template.html' %}
    {% load staticfiles %}
{% block content %}

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/about.css' %}" rel="stylesheet">
	<div class="navbar navbar-inverse ">
		<div class="container">
			<div class="navbar-header" >
				<img src="{% static 'assets/img/logo.png' %}">
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right" method>
					<li><a href="index" class="active">HOME</a></li>
					<li class="active"><a href="about">A EMPRESA</a></li>
					<li><a href="works">SERVIÇOS</a></li>
					<li><a href="customers">CLIENTES</a></li>
					<li ><a href="contact">CONTATO</a></li>
				</ul>
			</div><!--/.nav-collapse -->
			<div id ="auth">
				<a data-toggle="modal" data-target="#loginModal" href="#loginModal">LOGIN</a>
				<a data-toggle="modal" data-target="#signupModal" href="#signupModal">CADASTRE-SE</a>
			</div>
		</div>
	</div>

	<div id="blue">
	</div><!--  bluewrap -->

<!-- PORTFOLIO SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<div id = "about-content">
					<h4>Sobre a ERES</h4>
					<br>
					<div id = "about-pic">
					</div>
					<p>O ERES é uma empresa de entregas que oferece aos seus clientes, lojas físicas das mais diversas áreas como móveis, eletrodomésticos etc., serviços de entrega com confiabilidade e segurança. ERES conta com uma grande variedade de tipos de entrega, desde motoboys até caminhões. Toda essa infraestrutura é coordenada por um moderno sistema baseado na WEB onde os clientes poderão ver o custo para determinada localidade, tempo de entregas estimado, acompanhar entregas em tempo real e oferecer ao destinatário código de rastreio, assim como disponibilizar ao cliente a assinatura digital do destinatário, comprovando o recebimento, dentre várias outras funções. ERES tem por objetivo complementar o sistema de E-COMMERCE de lojas oferecendo o serviço de entregas. A interface com o cliente é feita exclusivamente via browser, o que permite uma implantação inócua uma vez que não é realizada modificações no site de compras do nosso cliente.</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->
{% endblock content %}
