{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/js/jquery-2.2.4.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

    <script src="{% static 'assets/js/Chart.js' %}"></script>


    <!-- <link rel="shortcut icon" href="{% static 'assets/ico/favicofn.png' %}"> -->
    <title>Eres - Entrega rápida e segura</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>
      {% block content %}
      {% endblock %}


      <!-- MODAL FOR LOGIN -->
      <!-- Modal -->
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Faça seu Login</h4>
            </div>


            <div class="modal-body">
              <div class="row centered">
                <p> Usuário já cadastrado, entre com suas credenciais para fazer autenticação no ERES.</p>
                {% if user.is_authenticated %}
                <form  role="form" class="navbar-form navbar-right" method="POST" action="logout">{% csrf_token %}
                  <button type="submit" class="btn btn-primary">Log Out</button>
                  <h5>Código da função: {{ funcao_usuario }}</h5>
                </form>
                {% else %}
                <form  role="form" class="form-group" method="POST" action="login">{% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                  </div>
                  <button type="submit" class="submit">Log In</button>
                  {% if messages %}
                  {% for message in messages %}
                  <script>window.alert({{ message }})</script>
                  {% endfor%}
                  {% endif %}
                </form>
                {% endif %}
              </div>
            </div>

            <div class="modal-footer">
            </div>


          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


      <!-- MODAL FOR SIGNUP -->
      <!-- Modal -->
      <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Cadastre-se</h4>
            </div>
            <div class="modal-body">
              <p> Utilize o formulário abaixo para iniciar seu processo de cadastro no ERES. Lembrando que suas informações serão inicialmente analisadas pelo nosso gerente que posteriormente entrará em contato convosco para o prosseguimento do processo de cadastro abordando o contrato de prestação de serviçoes.</p>
              <div class="row centered">
                <form  role="form" class="form-group" method="POST" action="login">{% csrf_token %}
                  {% load widget_tweaks %}
                  {% for field in formSignup %}
                  <div class="form-group">
                    <label> {{ field.label_tag }} </label>
                    {{ field | add_class:"form-control" }}
                  </div>
                  {% endfor %}

                  <button type="submit" class="submit">Enviar</button>
                </form>
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- FOOTER -->
      <footer >
        <div class="container">
          <h1>©ERES 2016</h1>
        </div><!-- container -->
      </footer<!-- Footer -->



    </body>
    </html>
