{% extends 'home/base_template.html' %}
{% load staticfiles %}
{% block content %}

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/customers.css' %}" rel="stylesheet">

	<div id="blue">
	</div><!--  bluewrap -->

<!-- PORTFOLIO SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<h4>Nossos Clientes</h4>



			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->
{% endblock content %}