<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mostrar entregas cadastradas</title>
</head>
<body>
    <table border="1" style="width:90%">
        <tr>
            <th>Destinatário</th>
            <th>Endereço</th>
            <th>Região</th>
            <th>Status</th>
            <th>Preço</th>
            <th>Data do Pedido</th>
            <th>Prioridade</th>
        </tr>
        {% for r in result %}
        <tr>
            <td>{{ r.destinatario.nome }}</td>
            <td>{{ r.destinatario.logradouro }}, n. {{ r.destinatario.numero }}</td>
            <td>{{ r.regiao }}</td>
            <td>{{ r.status }}</td>
            <td>{{ r.preco }}</td>
            <td>{{ r.dataPedido }}</td>
            <td>{{ r.prioridade }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
