{% extends 'home/base_template.html' %}
{% block content %}

{% load staticfiles %}


    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
	<div id="blue">


<dialog id="window">
    <h3>Sample Dialog!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, inventore!</p>
    <button id="exit">Close Dialog
</dialog>


	</div><!--  bluewrap -->

	<!-- PORTFOLIO SECTION -->
	<div id="bg" class="bgParallax" data-speed="5" >
		<div id= "bg_text">
			<h1>VELOCIDADE, SEGURANÇA, CONFIABILIDADE.</h1>
			<h2>Nós temos a solução perfeita de transporte para sua empresa</h2>
		</div>
		<div id="bg_buttons">
			<a href="about" class="button">SAIBA MAIS</a>
		</div>
	</div><!-- DG -->

	<div id="track_block" class="row-centered">
		<h1>Rastreador de Encomendas</h1>

		<div id="form-cont" class= "row-centered">
			<form id="formRastr" data-popup-open="popup-1" >{% csrf_token %}
			    <!-- <input class="form-control" id="email" required> -->
                {% for field in formRastr %}
                {{ field }}
                {% endfor %}
			  <button id="show" type="submit" class="submit">Submit</button>
			</form>
		</div>

	</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> -->
<!-- <script src="jquery-1.12.2.min.js"></script> -->
<script src="{% static 'assets/js/popup.js' %}"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<script src="{% static 'assets/js/parallax.js' %}"></script>



 <script type='text/javascript'>
$("#formRastr").submit(function(e) {
    e.preventDefault();
    compoePopupComDadosEntrega($('#codigoRastreamento').val());
});
</script>

<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <h2>Rastreamento</h2>
        <p id='entregaDiv'></p>
        <p><a data-popup-close="popup-1" href="#">Close</a></p>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
</div>
<script src="{% static 'assets/js/imagesloaded.js' %}"></script>
<script src="{% static 'assets/js/skrollr.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

{% endblock %}
