{% extends 'home/base_template.html' %}
    {% load staticfiles %}
{% block content %}

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/works.css' %}" rel="stylesheet">


	<div id="blue">
	</div><!--  bluewrap -->

	<div id="dg">
	<div class="container">
	<h4>Nossos Serviços</h4>
		<div class="row">
	  		<div id = "serv1" class="col-sm-6">
				<div id= "serv1-content"> </div>
				asdasdasd
	  		</div>
	  		<div id = "serv2" class="col-sm-6">
				<div id= "serv2-content"> </div>
				asdasdasd
	  		</div>
		</div>
		<div class="row">
	  		<div id = "serv3" class="col-sm-6">
				<div id= "serv3-content"> </div>
				asdasdasd
	  		</div>
	  		<div id = "serv4" class="col-sm-6">
				<div id= "serv4-content"> </div>
				asdasdasd
	  		</div>
		</div>
	</div>
	</div><!-- DG -->






{% endblock content %}
