{% extends 'home/base_template.html' %}
    {% load staticfiles %}
{% block content %}

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/works.css' %}" rel="stylesheet">
	<div class="navbar navbar-inverse ">
		<div class="container">
			<div class="navbar-header" >
				<img src="{% static 'assets/img/logo.png' %}">
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right" method>
					<li><a href="index" class="active">HOME</a></li>
					<li ><a href="about">A EMPRESA</a></li>
					<li class="active" ><a href="works">SERVIÇOS</a></li>
					<li><a href="customers">CLIENTES</a></li>
					<li ><a href="contact">CONTATO</a></li>
				</ul>
			</div><!--/.nav-collapse -->
			<div id ="auth">
				<a data-toggle="modal" data-target="#loginModal" href="#loginModal">LOGIN</a>
				<a data-toggle="modal" data-target="#signupModal" href="#signupModal">CADASTRE-SE</a>
			</div>
		</div>
	</div>

	<div id="blue">
	</div><!--  bluewrap -->

	<div id="dg">
	<div class="container">
	<h4>Nossos Serviços</h4>
		<div class="row">
	  		<div id = "serv1" class="col-sm-6">
				<div id= "serv1-content"> </div>
				asdasdasd
	  		</div>
	  		<div id = "serv2" class="col-sm-6">
				<div id= "serv2-content"> </div>
				asdasdasd
	  		</div>
		</div>
		<div class="row">
	  		<div id = "serv3" class="col-sm-6">
				<div id= "serv3-content"> </div>
				asdasdasd
	  		</div>
	  		<div id = "serv4" class="col-sm-6">
				<div id= "serv4-content"> </div>
				asdasdasd
	  		</div>
		</div>
	</div>
	</div><!-- DG -->






{% endblock content %}
