{% extends 'home/base_template.html' %}
    {% load staticfiles %}
{% block content %}

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/works.css' %}" rel="stylesheet">


	<div id="blue">
	</div><!--  bluewrap -->
	<div id="works-head">
		<h1> LOGÍSTICA MOVE O MUNDO, E NÓS SABEMOS DISSO</h1>
	
	</div>
	<div id= "works-body">
		<h1> Nossos Serviços</h1>



	</div>


	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>WE ARE STORYTELLERS. BRANDS ARE OUR SUBJECTS. DESIGN IS OUR VOICE.</h4>
					<p>We believe ideas come from everyone, everywhere. At BlackTie, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design.</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><! -- r wrap -->
{% endblock content %}
