{% extends 'home/base_template_aut.html' %}
{% load staticfiles %}
{% block content %}

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/user.css' %}" rel="stylesheet">


	<div id="blue">
	</div><!--  bluewrap -->

	 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/home2">
                        Menu Funcionário
                    </a>
                <li>
                    <a href="/home2/entregasAlocadas">Entregas alocadas</a>
                </li>
                <li>
                    <a href="/home2/adicionarRecibo">Adicionar recibo</a>
                </li>
                <li>
                    <a href="/home2/trocarsenha">Atualizar senha</a>
                </li>
                <li>
                {% if user.is_authenticated %}
                    <form  role="form" class="navbar-form navbar-right" method="POST" action="logout">{% csrf_token %}
                        <button type="submit">Log Out</button>
                    </form>
                 {% endif %}
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        {% block senha %}
        {% endblock %}
        <!-- /#page-content-wrapper -->

    </div>


    <!-- /#wrapper -->
        <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

{% endblock %}
